__pycache__/
.idea/
.pytest_cache/
*.egg-info/
/compgraph_cpp/build
/compgraph_cpp/dist
/sentiment_data
/sentiment_models
/mqnli_data
/mqnli_models
/experiment_data
/probing_results
intervention/forward_tree_dump.txt
*.swp